<nav>
  <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
    true}">Home</a>
  <a routerLink="/ContactUs" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
    true}">Contact Us</a>
  <a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
    true}">About</a>
</nav>

